{% extends 'base.html.twig' %}

{% block title %}SymRecipe mes ingredients{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
        <div class=" alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    {% if not ingredients.items is same as ([])%}
        <h1>Mes ingredients</h1>
        <div class="count">
            <h5>Il y a {{ ingredients.getTotalItemCount }} ingrédients.</h5>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients%}
                    <div>
                        <tr class="table-primary">
                            <th scope="row">{{ ingredient.id }}</th>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt|date('d-m-y') }}</td>
                        </tr>
                    </div>
                {% endfor %}   
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-5">
            {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
        <h5> Il n'y a pas d'ingrédients</h5>
        {% endif %}
    </div>
{% endblock %}
